@model MusicStore.Domain.Models.Instrument

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>
    @(Model.Id == 0 ? "Admin: Add" : "Admin: Edit")
</h2>

@using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = 5 })
        @Html.ValidationMessageFor(m => m.Description)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Price)
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Price)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Category)
        @Html.TextBoxFor(m => m.Category, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Category)
    </div>

    <div class="form-group">
        <label>Product Image</label>
        <input type="file" name="image" class="form-control" />
    </div>

    if (Model != null && Model.ImageData != null)
    {
        <div class="form-group">
            <img src='@Url.Action("GetImage", "Instrument", new { id = Model.Id })'

                 style="max-width:150px;" />
        </div>
    }

    <button type="submit" class="btn btn-success">Save</button>
}